#map{
    border: 2px solid #DDD;
    padding: 5px;
    margin: 8px;
    box-shadow: 0px 0px 10px 3px #ddd;
    -moz-box-shadow: 0px 0px 10px 3px #ddd;
    -webkit-box-shadow: 0px 0px 10px 3px #ddd;
}

.accommodationlocation {
    height: 500px;
    width: inherit;
}

.sessionlocation {
    height: 500px;
    width: inherit;
}

.roster_ballotbox {
    font-size: x-large;
}

.event_roster li {
    list-style: none;
}

.event_roster_day em {
    font-size: .6em;
    font-weight: normal;
}

.event_roster_day .event_roster_email_form {
    display: none;
}

.event_roster_day .event_roster_email_form .form_actions {
    text-align: right;
}


form#certificatepdf #certtitle,
form#certificatepdf #certsubtitle,
form#certificatepdf #certprenamedesc,
form#certificatepdf #certpostnamedesc,
form#certificatepdf #certawardtitle
{
    width: 100%;
}

form#certificatepdf #certsigdesc {
    width: 250px;
}